* {
    box-sizing: border-box;
}

.header-shapes {
    border: 4px solid black;
    padding: 12px;
}
.shape-one {
    background-color: rgb(159, 42, 236);
    height: 150px;
    width: 50px;
    display: inline-block;
    margin-top: 30px;
}
.shape-two {
    background-color: #078607;
    width: 400px;
    height: 200px;
    display: inline-block;
    margin: 0px 50px;
}
.shape-three {
    background-color: lightblue;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.announcement {
    border: 4px dotted black;
    padding: 50px;
    margin: 22px 0px;
}

.post-it {
    background-color: rgb(243, 243, 192);
    height: 200px;
    box-shadow: 10px 10px 6px 4px #2b2a2a;
}
.main {
    padding: 0px 270px;
    margin-bottom: 30px;
}
.message {
    border: 1px solid rgb(202, 202, 204);
    text-align: center;
    padding: 120px 0px;
    font-size: 35px;
    font-weight: 500;
    color: darkblue;
    letter-spacing: 10px;
    box-shadow: 4px 3px 5px 0px #b7b2b2;
}
