* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color:lightgray;
    height: 125px;
    padding: 10px 25px;
}
.blue-square {
    background-color: #437ce2;
    width: 100px;
    height: 100px;
}
.main {
    background-color: white;
    padding: 74px;
    font-size: 27px;
}
.color-bar {
    height: 150px;
}
#section-one {
    background-color: #437ce2;
}
#section-two {
    background-color: #39b9b9;
}
#section-three {
    background-color: #9bb95f;
}
.footer {
    background-color: d0d01d;
}