* {
    margin: 0;
}

.header {
    background-color: rgb(73, 71, 71);
    padding: 80px;
}

.main {
    background-color: rgb(221, 214, 214);
    height: 90vh;
    padding: 0px 150px;
}

#section-one {
    background-color: white;
    height: 90vh;
    border: 1px solid black;
}

#section-two {
    background-color: black;
    height: 50px;
    border: 1px solid black;
}
